

.protrait {
	border-radius: 50%;
	max-width: 100%;
	height: auto;
}

.paper_title{
	font-size: 19;
	 font-weight: bold;
}

.project_picture {
	max-width: 90%;
	min-width: 90%;
	/*border: 1px solid black;*/
}

.project_picture2 {
	max-width: 60%;
	border: 1px solid black;
}

.project_picture3 {
	max-width: 80%;
	border: 1px solid black;
}

.center_div {
  position: relative;
  left: -9%;
}

.link_button{
	/* border: 1px solid black; */
	padding: 5px;
}

.announcement{
background-color: #009ae7;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 10px;
}


/*
.link_button:hover {
	border: 1px solid #075dba;
}*/

.highlight_text{
	background-color: #91e1ff;
	padding: 10px;
}

