

.protrait {
	border-radius: 50%;
	width: 200px;
}

.project_picture {
	width: 300px;
	border: 1px solid black;
}

.center_div {
  position: absolute;
  left: 0%;
}

.link_button{
	border: 1px solid black;
	padding: 5px;
}

.link_button:hover {
	border: 1px solid #075dba;
}

